<!DOCTYPE />
<html>
  <head>
      <title> <%= title %> </title>
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <a class="logout" href='/logOut'>LogOut</a>
    <div class="index-wrapper">
      <ul>
          <img src="welcome.png" alt="welcome" />
      </ul>
    </div>
    
  </body>
  
</html>